doctype html
html(lang="en")
  head
    title Task Details
  body
    h1 You are viewing task #{task.id}

    p
      strong Task title:
      | #{task.title}

    p
      strong Task status:
      | #{task.completed ? '"Completed"' : '"Not Completed"'}


