doctype html
html(lang="en")
  head
    title Task Details
    link(rel="stylesheet" href="/styles.css")
  body
    h1 You are viewing task #{task.id} using a template

    ul
      li The title of the task is #{task.title}
      li The task is #{task.completed ? "completed" : "not completed"}
      li #{user.name} is responsible for this


