doctype html
html(lang="en")
  head
    title Task Details
    style.
      body {
        font-family: Arial, sans-serif;
        padding: 20px;
      }
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
      ul {
        font-size: 18px;
        margin-top: 10px;
      }
      li {
        margin-bottom: 5px;
      }
  body
    h1 You are viewing task #{task.id} using a template

    ul
      li The title of the task is #{task.title}
      li The task is #{task.completed ? "completed" : "not completed"}
      li #{user.name} is responsible for this

